html{
    margin: auto;
    max-width: 100%;
    min-height: 100%;
}
body{
    margin:auto;
}
.cont{
    display: flex;
    margin:auto;    
}
.conti{
flex-direction: column;
}
.izquierda{
    border: 2px black solid;
    background-color: #f5f786;
    text-align: left;
    width: 200px;
    justify-content:flex-start;
}
.derecha{
    border: 2px black solid;
    text-align: right;
    background-color: #82f0b3;
    width: 200px;
    justify-content:flex-end;
}
